@charset "utf-8";
#page{
	width: 860px;
	margin-left: 80px;
	margin-right: 80px;

}
#header{
	height: 70px;
}
#menu{
	text-align: right;
}
#content{
	text-align: center;
}
body{
	background-color: LightBlue;
}
.error p{
	color:red;
}